body {
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	font-size: 16px;
}

.logo {
	width: 100px;
}

.lettermark {
	width: 200px;
}

.sidebar {
	width: 25%;
	float: left;
}

nav {
	position: fixed;
	top: 180px;
	left: 0;
	width: 23%;
	background-color: #EEE;
}

nav li {
	list-style: none;
	padding: 5px 0;
}

.content {
	width: 70%;
	float: right;
	padding: 0 2%;
}

.content > h1 {
	font-size: 75px;
	font-weight: 100;
	margin-top: 100px;
}

.section > h2 {
	font-size: 36px;
	font-weight: 300;
	background-color: #222222;
	color: white;
	padding: 40px 10px;
	margin-top: 50px;
}

.item > h3 {
	font-size: 24px;
	font-weight: 300;
	background-color: #777777;
	color: white;
	padding: 10px;
}

.sectionDescription {
	font-size: 1.4em;
}

.itemDescription {
	font-size: 1.2em;
}

code[class*="language-"], pre[class*="language-"] {
	line-height: 1.3;
	font-size: 0.9em;
}

.cssTitle {
	text-transform: uppercase;
	letter-spacing: 1px;
	font: .75em sans-serif;
	color: rgba(0,0,0,.5);
	background-color: #fff;
	position: absolute;
	top: -.5em;
	padding-left: .5em;
	padding-right: .5em;
	left: 1.333333333em; /* 16px */
	z-index: 3;
	margin: 0;
}

.cssCode {
	display: none;
	border: 1px solid rgba(0,0,0,.1);
	border-radius: .3em;
	margin: -1em 0 3em 0;
	position: relative;
}

.cssCode pre[class*="language-"] {
	margin: 0.5em 0 0 0 !important;
}

.xrayhtml {
	margin: 1.5em 0 0.2em 0;
}

.toggleShow {
	margin: 0 0 1.5em 0;
}






