// <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,200,200italic,300,300italic,400italic,600,600italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>

@font-face {
  font-family: 'Slim Joe';
  src: url('../fonts/BigJohnSlimJoe/SlimJoe.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

body {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 16px;
}

#typeface .snippet h1 {
  font-family: 'Slim Joe', sans-serif;
  font-size: 2.5em;
}

#typeface .snippet h2 {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1.8em;
  font-weight: 300;
}

#typeface .snippet h3 {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1.3em;
  font-weight: 300;
}

#typeface .snippet p {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1em;
  font-weight: normal;
}





.colour {
  width: 150px;
  height: 150px;
  border: 1px solid black;
  display: inline-block;
  text-align: center;
  font-size: 2em;
}

.colour1 {
  background-color: #222222;
  color: white;
}

.colour2 {
  background-color: #FFFFFF;
}

.colour3 {
  background-color: #7D746F;
}

.colour4 {
  background-color: #BA274B;
}

.colour5 {
  background-color: #A0C7E4;
}




.colour1light {
  background-color: #6E6E6E;
  color: white;
}

.colour2light {
  background-color: #FFFFFF;
}

.colour3light {
  background-color: #EDEDED;
}

.colour4light {
  background-color: #DE99AA;
}

.colour5light {
  background-color: #D7EBFA;
}




.colour1dark {
  background-color: #000000;
  color: white;
}

.colour2dark {
  background-color: #B0B0B0;
}

.colour3dark {
  background-color: #4A413D;
}

.colour4dark {
  background-color: #751A30;
}

.colour5dark {
  background-color: #5A8AAD;
}

.colour5dark2 {
  background-color: #3E6785;
}



.card-container {
  width: 100%;
  text-align: center;
}

.card {
  display: inline-block;
  width: 25%;
  min-width: 240px;
  min-height: 300px;
  background-color: #EDEDED;
  padding: 20px;
  margin: 20px;
  text-align: center;
}

.card p {
  font-size: 1.3em;
}





.btn {
  border: 1px solid #4cae4c;
  background-color: #5A8AAD;
  color: white;
  border-radius: 4px;
  padding: 0 12px;
  margin: 10px;
}

.btn:hover, .btn:active, .btn:focus {
  background-color: #3E6785;
}

.btn-big {
  font-size: 1.5em;
  width: 220px;
  height: 63px;
}

.btn-medium {
  font-size: 1.2em;
  width: 180px;
  height: 50px;
}

.btn-small {
  font-size: 1em;
  width: 150px;
  height: 40px;
}





.form-buttons-container {
  width: 100%;
  text-align: center;
}

form {
  max-width: 800px;
  background-color: #EDEDED;
  padding: 20px;
  margin: 20px;
}

form fieldset {
  margin: 5px 0;
}

form legend {
  color: #5A8AAD;
  font-weight: bold;
}

form input[type="text"] {
  min-width: 200px;
  margin: 5px;
  padding: 5px 10px;
}

form select {
  min-width: 200px;
  height: 40px;
}






.progress_bar_container {
  width: 90%;
  margin: 0 auto;
  padding-bottom: 10%;
  overflow: hidden;
  height: 100%;
}

.clear {
  clear: both;
}

.progress_bar {
  width: 80%;
  margin: 115px auto 0;
  position: relative;
  height: 80px;
  z-index: 10;
}
.progress_bar hr.all_steps {
  width: 80%;
  height: 7px;
  border: none;
  background: #DDDDDD;
  border-bottom: 1px solid #fff;
  position: absolute;
  bottom: 10px;
  left: 10%;
  z-index: 1;
}
.progress_bar hr.current_steps {
  width: 0%;
  border: 0;
  height: 5px;
  background: #A0C7E4;
  position: absolute;
  bottom: 12px;
  left: 10%;
  z-index: 3;
}
.progress_bar div.step {
  float: left;
  width: 20%;
  height: 80px;
  text-align: center;
  color: #ccc;
  position: relative;
  text-shadow: 1px 1px #fff;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -ms-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
.progress_bar div.step:before {
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 20px;
  border: 2px solid transparent;
  background: #A0C7E4;
  bottom: 14px;
  left: 50%;
  margin-left: -6px;
  content: '';
  z-index: 4;
  display: none;
}
.progress_bar div.step:after {
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 20px;
  border: 2px solid #DDDDDD;
  background: #DDDDDD;
  bottom: 12px;
  left: 50%;
  margin-left: -8px;
  content: '';
  z-index: 2;
}
.progress_bar div.step.current {
  color: #222;
}
.progress_bar div.step.current:before {
  display: block;
}
.progress_bar div.step.complete {
  color: #888;
  cursor: pointer;
}
.progress_bar div.step.complete:before {
  display: block;
}
.progress_bar div.step.complete:hover {
  color: #555;
}

#progress_bar_blocks {
  width: 100%;
  position: relative;
  height: 200px;
}
#progress_bar_blocks .block {
  position: absolute;
  width: 100%;
  left: 100%;
  height: 200px;
}
#progress_bar_blocks .block .wrap {
  width: 80%;
  margin: 0 auto;
}

