/*! X-rayHTML - v2.0.1 - 2015-10-29
* https://github.com/filamentgroup/x-rayhtml
* Copyright (c) 2015 ; Licensed MIT */

/*! X-rayHTML - v1.0.3 - 2015-09-08
* https://github.com/filamentgroup/x-rayhtml
* Copyright (c) 2015 ; Licensed MIT */

.xrayhtml {
	border: 1px solid rgba(0,0,0,.1);
	border-radius: .3em;
	margin: 1.5em 0 2.5em 0;
	padding: 2em 1em;
	position: relative;
}
.xrayhtml .xraytitle {
	text-transform: uppercase;
	letter-spacing: 1px;
	font: .75em sans-serif;
	color: rgba(0,0,0,.5);
	background-color: #fff;
	position: absolute;
	top: -.5em;
	padding-left: .5em;
	padding-right: .5em;
	left: 1.333333333em; /* 16px */
	z-index: 3;
	margin: 0;
}
.xrayhtml.method-flip:before {
	background-color: rgba(255,255,255,.6);
}
.xrayhtml .source-panel {
	background: #f7f7f7;
	margin-top: 2em;
	tab-size: 2;
}
.xrayhtml .source-panel pre {
	margin: 0;
}
.xrayhtml .source-panel code {
	white-space: pre-wrap;
}
.xrayhtml.method-flip .source-panel {
	margin-top: 0;
	border-radius: 0.3em;
}
.xrayhtml.method-inline .source-panel {
	margin: 2em -1em -2em -1em !important; /* Prism style override. */
	border-top: 1px solid rgba(0,0,0,.1);
	border-radius: 0 0 .3em .3em;
}
.xrayhtml pre {
	padding: 16px;
	margin: 0 !important; /* Prism style override. */
	border-radius: 0 0 .3em .3em;
}
.xrayhtml code {
	white-space: pre-wrap !important; /* Prism style override. */
}

.xrayhtml.antipattern {
	border-color: #C9282D;
}
.xrayhtml.antipattern .xraytitle {
	color: #d75e72;
	font-weight: 700;
}

/* Flip Animation */

.method-flip {
	-webkit-perspective: 2500px;
	-moz-perspective: 2500px;
	perspective: 2500px;
}
.method-flip .snippet {
	padding: 0;
	margin: 0;
	position: relative;
	top: 0;
	left: 0;
	z-index: 2;
	min-height: 100%;
}
.method-flip .source-panel {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow-x: scroll;
}

.method-flip .snippet {
	-webkit-transform: rotateY(0deg);
	-webkit-transform-style: preserve-3d;
	-webkit-backface-visibility: hidden;

	-moz-transform: rotateY(0deg);
	-moz-transform-style: preserve-3d;
	-moz-backface-visibility: hidden;

	-webkit-transition: -webkit-transform .4s ease-in-out;
	-moz-transition: -moz-transform .4s ease-in-out;
}
.method-flip.view-source .snippet {
	z-index: 1;
	-webkit-transform: rotateY(180deg);
	-moz-transform: rotateY(180deg);
}
.method-flip .source-panel {
	-webkit-transform: rotateY(-180deg);
	-webkit-backface-visibility: hidden;

	-moz-transform: rotateY(-180deg);
	-moz-backface-visibility: hidden;

	-moz-transition: all .4s ease-in-out;
	-webkit-transition: all .4s ease-in-out;
}
.method-flip.view-source .source-panel {
	z-index: 2;
	-webkit-transform: rotateY(0deg);
	-moz-transform: rotateY(0deg);
}
